@font-face {
  font-family: "Pragmatica-Book";
  src: local("Pragmatica-Book"), url("/fonts/Pragmatica-Book.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Pragmatica-Bold";
  src: url("/fonts/Pragmatica-Bold.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Pragmatica-Extended-Bold";
  src: url("/fonts/Pragmatica-Extended-Bold.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}